
.contact {
  font-size:1.5rem;

}
.contact td {
width: 480px;
}

.contact tr {
  height: 7rem;

}
.contact th {
  width: 150px;
  text-align: right;
}
.input {
  width: 100%;
}

.submit_tr {
  width: 480px;
}
.submit {
  background:#0099FF;
  color: white;
  width: 100px;
  margin: 0 auto;
  /* text-align: center; */
}
.submit:hover {
  opacity: 0.6;
}
